@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <h1 class="text-danger">Access denied</h1>
    <p>You do not have permission to access this page. Please contact your administrator if you believe this is an error.</p>
</header>
